El poco peso de las energías renovables en el precio final de la luz: al igual que el gas es una de las materias primas para la generación de electricidad más caras, las energías renovables son de las más baratas. Por tanto, si no hay suficiente lluvia o viento como para que esta forma de energía tenga el peso suficiente en la fijación del precio, el pool energético dependerá más de los ciclos combinados y, como consecuencia, el precio de la luz subirá.

Este es el caso de España, que tiene una gran dependencia energética de las importaciones de otros países, ya que no tenemos la capacidad de autoabastecernos de energía renovable por el momento.

## Viento

En España, hay grandes diferencias entre comunidades autónomas en cuanto a producción de energía a través de los parques eólicos. La comunidad que más produce y que, por tanto, más parques eólicos alberga en su territorio es Castilla y León. Esta comunidad produce hasta 6.299,81 MW y supone hasta el 23% de la producción nacional. Le siguen:

- Aragón: 4.159,25 MW, siendo el 15,2% de la producción nacional
- Castilla-La Mancha: 3.886,14MW (14,2%)
- Galicia: 3.829,19 MW (14%)
- Andalucía: 3.478,45 MW (12,7%)

## Temperatura

Se crea un índice de temperaturas español (ܶ݁݉expresado en grados centígrados) de las temperaturas medias diarias de las cinco ciudades más pobladas de España, ya que son las que más pueden hacer variar la demanda energética.

- Madrid
- Barcelona
- Valencia
- Sevilla
- Zaragoza

tomorrow.io

In [3]:
import pandas as pd

In [4]:
pd.read_clipboard()

         Fecha Salida de sol Puesta de sol Duración del día
0   01/01/2023   08:44:33 AM   06:11:19 PM       9h 26m 46s
1   01/02/2023   08:31:17 AM   06:44:25 PM       10h 13m 8s
2   01/03/2023   07:56:37 AM   07:16:27 PM      11h 19m 50s
3   01/04/2023   08:08:02 AM   08:48:07 PM       12h 40m 5s
4   01/05/2023   07:24:51 AM   09:17:51 PM       13h 53m 0s
5   31/05/2023   06:59:15 AM   09:44:45 PM      14h 45m 30s
6   01/06/2023   06:58:50 AM   09:45:28 PM      14h 46m 38s
7   01/07/2023   07:00:53 AM   09:55:31 PM      14h 54m 38s
8   01/08/2023   07:24:05 AM   09:37:08 PM       14h 13m 3s
9   01/09/2023   07:52:46 AM   08:55:39 PM       13h 2m 53s
10  01/10/2023   08:20:34 AM   08:07:10 PM      11h 46m 36s
11  01/11/2023   07:52:43 AM   06:22:58 PM      10h 30m 15s
12  01/12/2023   08:25:37 AM   06:01:07 PM       9h 35m 30s